<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find kyun_description)/urdf/kyun_simple.xacro'"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <rosparam file="$(find kyun_description)/config/manipulator.yaml" command="load"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -model kyun_simple"/>
  <node name="controller_spawner" pkg="controller_manager"
    type="spawner" args="manipulator_controller"/>
</launch>
