<launch>
  <arg name="model" default="$(find kyun_description)/urdf/kyun.urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-param robot_description -urdf -model kyun" />
  <include file="$(find kyun_description)/launch/control.launch"/>
  <rosparam file="$(find kyun_description)/config/manipulator.yaml" command="load"/>
  <env name="GAZEBO_MODEL_PATH" value="$(find kyun_description)/models:$(optenv GAZEBO_MODEL_PATH)" />
</launch>
