<robot name="kyun"

<link name="base_footprint"/>
<joint name="base_link_joint" type="fixed">
  <origin xyz="0 0 0/>
  <parent link="base_footprint/>
  <child link="base_link/>
</joint>

<link name="base_link">
  <visual>
    <geometry>
      <mesh filename="package://kyun_description/mesh/servo01.stl"/>
    </geometry>
  </visual>
</link>

</robot>
