<launch>
  <!-- USB port name for dynamixel_port -->
  <arg name="port" default="/dev/ttyUSB3" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find kyun_real_description_sdk)/urdf/kyun_real.xacro'"
    />

    <rosparam file="$(find kyun_real_description_sdk)/config/control_real.yaml" command="load"/>
    <param name="dynamixel_port/port_name" value="$(arg port)"/>
    <param name="use_gui" value="$(arg gui)"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen"
        args="joint_state_controller
              joint1_position_controller
              joint2_position_controller
              joint3_position_controller
              joint4_position_controller
              joint5_position_controller"/>

  <node name="robot_staate_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <remap from="/kyun/joint_states" to="dynamixel_workbench/joint_states" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
